body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 380px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    height: 90px;
    resize: none;
}

.grupo {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.grupo input {
    width: auto;
    margin-right: 8px;
}

button {
    margin-top: 18px;
    width: 100%;
    padding: 10px;
    background-color: #2a5298;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

button:hover {
    background-color: #1e3c72;
}